.table_section{
	width: 80%;
	margin: 100px auto;
}

.table_section h2{
	width: 100%;
    text-align: center;
    font-size: 33px;
    font-weight: 700;
    padding: 0 20%;
    color: var(--index);
    margin-bottom: 40px;
}

table{
	border-collapse: collapse;
	border-radius: 20px;
	overflow: hidden;
}

tr td:nth-child(1){
	width: 100px;
}
table, th, td {
  border: 1px solid var(--bg);
  text-align: center;
}
td{
	transition: all ease 0.2s;
	padding: 10px;
}
th{
	background: var(--index);
	padding: 20px;
	color: var(--bg);
	font-weight: 100;
	font-size: 20px;
}

th a:hover{
	text-decoration: underline;
}
th:nth-child(1){
	background: var(--index1);
}

th a:nth-child(1):hover{
	color: var(--bg);
}
td:hover{
	background: var(--bg);
	color: var(--index);
}

table tr:last-child td{
	background: var(--index);
}


table tr:last-child td:hover{
	color: var(--text);
}

table tr a:hover{
	color: var(--index1);
}
table tr:last-child td:nth-child(1){
	background: var(--index1);
	pointer-events: none;
}
table tr td:nth-child(1){
	background: var(--index);
	color: var(--bg);
}
table tr td:nth-child(1):hover{
	box-shadow: none;
}


@media screen and (max-width: 900px){
	.table_section{
		overflow-x: scroll;
		width: 100%;
		padding: 20px;
	}

	.table_section h2{
		font-size: 22px;
		bottom: 0px;
		margin-bottom: 20px;
	}
	
	table{
		width: 100%;
		margin-left: 0%;
		margin-bottom: 100px;
	}

	td,
	th{
		font-size: 18px;
	}
}
